<div *ngIf="!verUsuario">
  <h2 class="h2 text-center">Lista de usuarios</h2>
  <span>{{ error }}</span>
  <div class="input-group mb-3">
    <input class="form-control" placeholder="Escriba el Username que quiere buscar" type="text" [formControl]="campoBuscar">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Login</th>
        <th scope="col">Id</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let usuario of listaUsuarios">
        <tr (click)="buscarUser(usuario.login)">
          <td>{{usuario.login}}</td>
          <td>{{usuario.id}}</td>
          <td>{{usuario.url}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="verUsuario">
  <h2 class="h2 text-center"> Usuario {{usuario.name}}</h2>
  <button type="button" class="btn btn-primary" (click)="verTablaLista()">Volver a la Lista</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{usuario.id}}</td>
        <td>{{usuario.name}}</td>
        <td>{{usuario.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>